{
  "extends": "segment/browser-es6",
  "ecmaFeatures": {
    "templateStrings": true,
    "arrowFunctions": true,
    "destructuring": true,
    "blockBindings": true,
    "generators": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "max-len": 0,
    "no-undef": 2
  }
}